.p-avatar img {
	object-fit: cover;
}

.pi {
	font-size: inherit;
}

.p-button-text .p-badge {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(-20%, 20%);
	overflow: visible;
	/* background: var(--primary-color); */
	/* color: var(--primary-color-text); */
	height: 1.3rem;
	width: 1.3rem;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
