::-webkit-scrollbar {
	width: 7px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.15);
	border-radius: 12px;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
	background-color: rgba(0, 0, 0, 0.15);
}

.css-1viyaj4-MuiAvatarGroup-root .MuiAvatar-root {
	border: 2px solid rgba(200, 250, 205, 0.92) !important;
}

.mainApp-enter {
	opacity: 0.01;
}

.mainApp-enter.mainApp-enter-active {
	opacity: 1;
	transition: opacity 500ms ease-in;
}

.mainApp-leave {
	opacity: 1;
}

.mainApp-leave.mainApp-leave-active {
	opacity: 0.01;
	transition: opacity 300ms ease-in;
}

.mainApp-appear {
	opacity: 0.01;
}

.mainApp-appear.mainApp-appear-active {
	opacity: 1;
	transition: opacity 0.5s ease-in;
}

.anim_mobile_selectors-enter {
	opacity: 0.01;
}
.anim_mobile_selectors-enter-active {
	opacity: 0.01;
}
.anim_mobile_selectors-enter-done {
	opacity: 1;
	transition: opacity 500ms linear;
}
.anim_mobile_selectors-exit {
	opacity: 1;
}
.anim_mobile_selectors-exit-active {
	opacity: 0.01;
	transition: opacity 500ms linear;
}

.fc .fc-button {
	background-color: #00ab55;
	border-color: #00ab55;
}

.fc-button-active {
	background-color: #007b55;
}

.fc .fc-button:hover {
	background-color: #007b55;
	border-color: #007b55;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
	background-color: #007b55;
	border-color: #007b55;
}

.fc .fc-button-primary:disabled {
	background-color: #919eab;
	border-color: #919eab;
}

.fc-h-event {
	background-color: #3366ff;
	border-color: #3366ff;
}

.fc .fc-daygrid-day.fc-day-today {
	background-color: #fff7cd;
}
