::-webkit-scrollbar {
	width: 7px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.15);
	border-radius: 12px;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
	background-color: rgba(0, 0, 0, 0.15);
}

.css-1viyaj4-MuiAvatarGroup-root .MuiAvatar-root {
	border: 2px solid rgba(200, 250, 205, 0.92) !important;
}
